.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-items: flex-start;
  justify-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 32px;
  height: cal(100% - 32px);
  padding: 32px;
  row-gap: 32px;
  overflow: scroll;
}

.edit-button, .delete-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.edit-button {
  color: #146152;
}

.delete-button {
  color: #c0392b;
}

.edit-button:hover {
  color: #0e3d33;
}

.delete-button:hover {
  color: #922b21;
}
