* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}


.input {
  padding: 0.9rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #146152;
  outline: none;
}

.input-erro {
  background-color: #f1a7a0;
  padding: 0.9rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #146152;
  outline: none;
}

.erro {
  color: #AE2012;
}
